body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    background-color: #ececec;
}
header {
    display: flex;
    align-items: center;
    gap: 0.25em;
    padding: 1em;
    background-color: #ececec;
    background-image: url("images/background.jpg");
    background-size: cover;
}

.logo {
    width: 4rem;
}

main {
    text-align: center;
    
}